#player {
    opacity: 0.65;
    outline-style: none;
    height: 30px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#selection {
    outline-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 180px;
    font-size: 12px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    opacity: 0.65;
    border: none;
}

#introduction-container {
    font-family: 'Palanquin', sans-serif;
    font-size: 15px;
    align-content: center;
    text-align: center;
    width: 90%;
    height: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#introduction-container ul {
    list-style-type: square;
    text-align: left;
    padding-right: 10px;
}

#introduction-container ul li {
    font-size: 16px;
    font-family: 'Palanquin', sans-serif;
}

#introduction-container ul li:hover {
    cursor: default;
}

.introduction-footer-message {
    text-align: center;
    width: 100%;
}
#introduction-header {
    font-size: 36px;
    font-family: 'Marck Script';
    position: absolute;
    top: -32px;
}

@keyframes fadeInInfo { 
    0% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 1; 
    } 
}   

@media only screen and (max-width: 1170px) {
    #introduction-header {
        font-size: 28px;
        top: -25px;
        transition: 1s;
    }
}

@media only screen and (max-width: 930px) {
    #introduction-header {
        font-size: 24px;
        top: -17px;
        transition: 1s;
    }
}

#main-bg {
    font-size: 20px;
    width: 36px;
    height: 36px;
    background-color: white;
    opacity: 0.65;
    border-radius: 50%;
    position: absolute;
    right: 2.5%;
    bottom: 200px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-bg:hover {
    cursor: pointer;
}

#main-bg:active {
    cursor: pointer;

}

#beach-bg {
    font-size: 20px;
    width: 36px;
    height: 36px;
    background-color: white;
    opacity: 0.65;
    border-radius: 50%;
    position: absolute;
    right: 2.5%;
    bottom: 150px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#beach-bg:hover {
    cursor: pointer;
}

#mountain-bg {
    font-size: 20px;
    width: 36px;
    height: 36px;
    background-color: white;
    opacity: 0.65;
    border-radius: 50%;
    position: absolute;
    right: 2.5%;
    bottom: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mountain-bg:hover {
    cursor: pointer;
}

#forest-bg {
    font-size: 20px;
    width: 36px;
    height: 36px;
    background-color: white;
    opacity: 0.65;
    border-radius: 50%;
    position: absolute;
    right: 2.5%;
    bottom: 50px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forest-bg:hover {
    cursor: pointer;
}

// FOOTER //

#footer-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    font-family: 'Palanquin', sans-serif;
    position: absolute;
    bottom: 3px;
}

#footer-name a {
    color: white;
    font-weight: bold;
    font-family: 'Palanquin Dark';
    text-decoration: none;
    transition: 1s;
}

#footer-name a:visited {
    color: white;
    text-decoration: none;
}

#footer-name a:hover {
    color: white;
    font-size: 11px;
    transition: 1s;
    text-decoration: none;
}

#footer-name a:active {
    color: white;
    text-decoration: none;
}

.background-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%;
}

#audio-time-container {
    position: absolute;
    top: 8%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#audio-current-time {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    animation: fadeInAnimation ease 1s;
    transition: 1s;
    color: rgba(black, 0.75);
    text-shadow: 2px 2px 2px rgba(black, 0.3);
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 0.75; 
    } 
}

#audioplayer > button {
    background-color: transparent;
    font-size: 18px;
    width: 30px;
    border: 0px;
    color: rgba(black, 0.6);
    text-shadow: 2px 2px 2px rgba(black, 0.3);
}

#audioplayer > button:hover {
    font-size: 16px;
    cursor: pointer;
}

#audioplayer > button:active {
    font-size: 16px;
    cursor: pointer;
    border: 0px;
}

select {
    text-align-last: center;
}