#player {
    opacity: 0.65;
    outline-style: none;
    height: 30px;
    width: 28%;
}

#selection {
    outline-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    font-size: 12px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    opacity: 0.65;
    border: none;
}

/* introduction */
.hide {
    display:none;
}

.introduction {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 9999;
    position: absolute;
    right: 1%;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.introduction:hover {
    transition: 1.2s;
    color: white;
    background-color: rgba(189, 152, 167, 0.9);
    border: 2px solid white;
    text-decoration: none;
    cursor: pointer;
}

introduction:focus {
    cursor: pointer;
}

introduction:active {
    cursor: pointer;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white; 
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white; 
    }
}

.stay-hovered {
    display: block;
    margin: auto;
    position: absolute;
    background-color: white;
    border-radius: 25px;
    width: 250px;
    top: -45px;
    animation: fadeInInfo ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

.stay-hovered-i {
    font-size: 12px;
}

.introduction:hover + .hide {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(189, 152, 167, 0.95);*/
    background-color: white;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 22.5%;
    width: 55%;
    height: 50%;
    border-radius: 25px;
    border: solid 1.5px black;
    font-size: 14px;
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    display: flex;
    z-index: 2;
    flex-direction: column;
    transition: 1s;
    animation: fadeInInfo ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#introduction-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#introduction-header {
    font-size: 30px;
    font-family: 'Marck Script';
}

@keyframes fadeInInfo { 
    0% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 1; 
    } 
}

.hide {
    transition: all 1s ease-out;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
}

.introduction + .hide {
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
}

@media only screen and (max-width: 1000px) {
    .introduction:hover + .hide {
        width: 70%;
        left: 15%;
        height: 45%;
        top: 22.5%;
        font-size: 13px;
        transition: 1s;
    }
}

@media only screen and (max-width: 1000px) {
    #introduction-header {
        font-size: 28px;
        transition: 1s;
    }
}

@media only screen and (max-width: 590px) {
    .introduction:hover + .hide {
        font-size: 12px;
        transition: 1s;
    }
}

@media only screen and (max-height: 875px) {
    .introduction:hover + .hide {
        font-size: 12px;
        transition: 1s;
        height: 70%;
        top: 15%;
    }
}

@media only screen and (max-width: 325px) {
    .introduction:hover + .hide {
        font-size: 11.5px;
        line-height: 1.5;
        transition: 1s;
    }
}

@media only screen and (max-height: 325px) {
    .introduction:hover + .hide {
        font-size: 11.5px;
        line-height: 1.4;
        transition: 1s;
        height: 90%;
        top: 5%;
    }
}

#footer-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    font-family: 'Palanquin', sans-serif;
    position: absolute;
    bottom: 3px;
}

#footer-name a {
    color: white;
    font-weight: bold;
    font-family: 'Palanquin Dark';
    text-decoration: none;
    transition: 1s;
}

#footer-name a:visited {
    color: white;
    text-decoration: none;
}

#footer-name a:hover {
    color: white;
    font-size: 11px;
    transition: 1s;
    text-decoration: none;
}

#footer-name a:active {
    color: white;
    text-decoration: none;
}

#easter-egg1 {
    color: transparent;
    position: absolute;
    bottom: 9%;
    left: 29%;
}

#easter-egg1:hover {
    color: black;
    cursor: pointer;
}

#easter-egg2 {
    color: transparent;
    position: absolute;
    top: 1%;
    left: 10%;
}

#easter-egg2:hover {
    color: black;
    cursor: pointer;
}

#easter-egg3 {
    color: transparent;
    position: absolute;
    bottom: 9%;
    right: 16%;
}

#easter-egg3:hover {
    color: black;
    cursor: pointer;
}

#easter-egg-message {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Palanquin Dark';
    font-size: 9px;
}