html, body {
    margin: 0;
    padding: 0;
}

.canvas {
    position: absolute;
    background-image: url("../public/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    width: 100%;
    height: 100%;
    opacity: 0.5;
    margin:0px auto;
    z-index: -9999;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 0.5; 
    } 
}

#user-output {
    height: 100%;
    width: 100%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-output > p {
    color: black;
    font-family: helvetica;
    font-weight: bold;
    font-size: 50px;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

