html, body {
    margin: 0;
    padding: 0;
}

.canvas {
    position: absolute;
    background-image: url("../public/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    width: 100%;
    height: 100%;
    opacity: 0.5;
    margin:0px auto;
    z-index: -9999;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: 1s;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 0.5; 
    } 
}

.user-output-wrapper {
    position: absolute;
    z-index: -998;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#user-output-greet {
    font-size: 44px;
    font-family: 'Marck Script';
}

#user-output-words {
    font-size: 15.5px;
    font-weight: bold;
    font-family: 'Palanquin', sans-serif;
    max-width: 450px;
    max-height: 70%;
    margin-top: 15px;
    text-align: center;
}

#user-output-encourage {
    font-size: 15.5px;
    font-weight: regular;
    font-family: 'Palanquin Dark', sans-serif;
    max-width: 450px;
    max-height: 70%;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #user-output-words {
      width: 380px;
      transition: 1s;
    }
}

@media only screen and (max-height: 800px) {
    #user-output-words {
      font-size: 13.5px;
      transition: 1s;
    }
}

@media only screen and (max-height: 650px) {
    #user-output-words {
      font-size: 12px;
      transition: 1s;
    }
}

#timer {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: -990;
    text-align: center;
}

