html {
    margin: auto 0px;
    padding: 0px;
}

.canvas {
    position: absolute;
    top: 0;
    background-image: url("/src/public/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    width: 100%;
    height: 100%;
    opacity: 0.5;
    margin:0px auto;
    z-index: -9999;
}

#user-output {
    color: black;
    font-family: helvetica;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    height: auto;
}