form {
  text-align: center;
  width: 100%;
  height: 100%;
}

.modal {
    position: absolute; /* Stay in place */
    display: block;
    top: 0;
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 0 auto;
}

  /* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  opacity: 0.8 !important;
  height: 65%;
  width: 40%;
  border-radius: 25px;
  border: none;
  display: block;
  position: absolute;
  top: 15%;
  left: 30%;
  transition: 1s;
  animation: createBox 1s;
}

#myInfoModal {
  display: none;
}

.info-modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  opacity: 0.9 !important;
  height: 65%;
  width: 40%;
  border-radius: 25px;
  border: 0px solid #888;
  display: block;
  position: absolute;
  top: 15%;
  left: 30%;
  transition: 1s;
  animation: createBox 1s;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes closeBox {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
  
  /* The Close Button */
  .close {
    color: black;
    font-family: Lato;
    float: right;
    font-size: 16px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    padding: 9px;
    padding-left: 13px;
    padding-right: 13px;
    position: relative;
    top: -12px;
    right: -12px;
    cursor: pointer;
    z-index: 9999;
    transition: 1.2s;
  }
  
  .close:hover,
  .close:focus {
    transition: 0.5s;
    transform: scale(1.2);
    text-decoration: none;
    cursor: pointer;
  }

  .close-info {
    color: black;
    font-family: Lato;
    float: right;
    font-size: 16px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    padding: 9px;
    padding-left: 13px;
    padding-right: 13px;
    position: relative;
    top: -12px;
    right: -12px;
    cursor: pointer;
    z-index: 9999;
    transition: 1.2s;
  }
  
  .close-info:hover,
  .close-info:focus {
    transition: 0.5s;
    color: black;
    transform: scale(1.2);
    text-decoration: none;
    cursor: pointer;
  }
  
  #user-greeting {
    font-family: 'Marck Script';
    z-index: 999;
  }
  
  #user-form-description {
    font-family: 'Palanquin', sans-serif;
  }

  .user-form {
    display: block;
    position: absolute;
    top: 0px;
  }

  .user-form-inner {
    font-family: 'Palanquin', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .user-form-inner::-webkit-scrollbar {
    width: 0.7em;
    background: white;
  }

  .user-form-inner::-webkit-scrollbar-thumb {
    background: rgba(232, 240, 254, 0.3);
    border-radius: 10px;
    height:10px;
  }
  
  .user-form-inner::-webkit-scrollbar-track-piece {
     display:none;
  }

  .user-form-name {
    margin: 15px;
    margin-top: 20px;
    font-size: 14px;
  }

  .user-form-thought {
    margin: 10px;
    font-size: 14px;
    margin-top: -20px;
  }


  #name-input {
    width: 85%;
    height: 40px;
    border-radius: 25px;
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.2);
    overflow-wrap: normal;
    padding: 3px;
    transition: 1s;
  }

  #name-input:active {
    transition: 1s;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    caret-color: black;
  }

  #name-input:focus {
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    caret-color: black;
  }

  #name-input:hover {
    transition: 1s;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    caret-color: black;
  }

  #thought-input {
    padding: 15px;
    width: 80%;
    height: 40%;
    margin: 0 auto;
    border-radius: 25px;
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);;
    resize: none;
    background-color: rgba(232, 240, 254, 0.2);
    transition: 1s;
  }

  #thought-input:active {
    transition: 1s;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    caret-color: black;
  }

  #thought-input:focus {
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    caret-color: black;
  }

  #thought-input:hover {
    transition: 1s;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    caret-color: black;
  }

  #user-button {
    width: 40%;
    padding: 3px;
    height: 47px;
    border-radius: 25px;
    text-align: center;
    transition: 1s;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 5%;
    background-color: rgba(232, 240, 254, 0.2);
  }

  #user-button:hover {
    transition: 1s;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    cursor: pointer;
  }

  #user-button:active {
    transition: 1s;
    outline: none;
    border: 1px solid rgba(232, 240, 254, 1);
    background-color: rgba(232, 240, 254, 0.7);
    cursor: pointer;
  }

  /* greeting animation */

  .ml16 {
    color: black;
    font-family: 'Marck Script';
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }

@media only screen and (max-width: 900px) {
    .ml16 {
        font-size: 37px;
        position: absolute;
        top: -58px;
        transition: 1s;
    }
}

@media only screen and (min-width: 900px) {
  .ml16 {
    font-size: 60px;
    position: absolute;
    top: -93px;
    transition: 1s;
  }
}

@media only screen and (max-width: 900px) {
  .close {
    font-size: 12px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    top: -10px;
    right: -10px;
    transition: 1s;
  }
}

@media only screen and (max-width: 900px) {
  .modal-content {
    width: 70%;
    left: 15%;
    transition: 1s;
  }
}

 @media only screen and (min-width: 900px) {
  .modal-content {
    width: 40%;
    left: 30%;
    transition: 1s;
  }
} 