.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 2.5%;
    top: 15%;
    width: 5%;
    max-width: 50px;
    height: 65%;
    background-color:white;
    border-radius: 25px;
    opacity: 0.65;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 9997;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    
    100% { 
        opacity: 0.65; 
    } 
} 

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 70%;
    position: absolute;
    top: 12%;
    left: -150%;
    -webkit-animation: slide 4s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 3s forwards;
    animation-delay: 2s;
    z-index: 9998;
}

@-webkit-keyframes slide {
    100% { left: 0px; }
}

@keyframes slide {
    100% { left: 19%; }
}

ul li {
    font-size: 2vw;
    font-size: max(30px);
    color: black;
    cursor: pointer;
    z-index: 9999;
}

li a:link {
    color: black;
    cursor: pointer;
    z-index: 9999;
} 

@media only screen and (max-width: 900px) {
    .navbar {
        background-color: transparent;
        transition: 1s;
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        background-color: white;
        transition: 1s;
    }
}

.inform-button {
    font-size: 26px;
}

#myInformation:hover .inform-button {
    transition: 1.5s;
    transform: rotateZ(-360deg);
    cursor: pointer;
}

#myBtn:hover .form-button {
    transition: 1.5s;
    transform: rotateZ(360deg);
    cursor: pointer;
} 

#myGithub:hover .github-button {
    transition: 1.5s;
    transform: rotateX(360deg);
}

#myLinkedin:hover {
    transition: 1.5s;
    transform: rotateY(360deg);
}

#myangel:hover {
    transition: 1.5s;
    transform: scale(1.3);
}

li:active {
    color: black;
}

li a:active {
    color: black;
}

li:visited {
    color: black;
}

li a:visited {
    color: black;
}
