.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25px;
    top: 15%;
    width: 50px;
    height: 70%;
    background-color:white;
    border-radius: 25px;
    opacity: 0.65;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 0.65; 
     } 
} 

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 70%;

    position: absolute;
    top: 12%;
    left: -150%;
    -webkit-animation: slide 4s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 3s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0px; }
}

@keyframes slide {
    100% { left: 10px; }
}

ul li {
    font-size: 30px;
    color: black;
    cursor: pointer;
}

li a:link {
    color: black;
    cursor: pointer;
} 

#myBtn:hover {
    transition: 1.5s;
    transform: rotateY(360deg);
    cursor: pointer;
} 

#myGithub:hover {
    transition: 1.5s;
    transform: rotateX(360deg);
}

#myLinkedin:hover {
    transition: 1.5s;
    transform: rotateZ(360deg);
}

#myangel:hover {
    transition: 1.5s;
    transform: scale(1.3);
}

li:active {
    color: black;
}

li a:active {
    color: black;
}

li:visited {
    color: black;
}

li a:visited {
    color: black;
}