.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3%;
    top: 20%;
    width: 5%;
    max-width: 50px;
    height: 60%;
    background-color:white;
    border-radius: 25px;
    opacity: 0.55;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 9997;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    
    100% { 
        opacity: 0.55; 
    } 
} 

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 75%;
    position: absolute;
    top: 10%;
    left: -150%;
    -webkit-animation: slide 4s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 3s forwards;
    animation-delay: 2s;
    z-index: 9998;
}

@-webkit-keyframes slide {
    100% { left: 0px; }
}

@keyframes slide {
    100% { left: 18%; }
}

ul li {
    font-size: 2vw;
    font-size: max(30px);
    color: black;
    cursor: pointer;
    z-index: 9999;
}

li a:link {
    color: black;
    cursor: pointer;
    z-index: 9999;
} 

@media only screen and (max-width: 900px) {
    .navbar {
        background-color: transparent;
        transition: 1s;
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        background-color: white;
        transition: 1s;
    }
}

.inform-button {
    font-size: 26px;
}

#myInformation:hover .inform-button {
    transition: 1.5s;
    transform: rotateZ(-360deg);
    cursor: pointer;
}

#myInformation {
    position: relative;
}

#myInformation .myInfo-text {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.8;
    font-family: "Palanquin Dark";
    font-weight: bold;
  
    /* Position the tooltip */
    position: absolute;
    right: -130px;
    top: 0px;
    z-index: 1;
}

#myInformation:hover .myInfo-text {
    visibility: visible;
    animation: fadeIn ease 0.5s;
}

#myBtn:hover .form-button {
    transition: 1.5s;
    transform: rotateZ(360deg);
    cursor: pointer;
} 

#myBtn {
    position: relative;
}

#myBtn .myBtn-text {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.8;
    font-family: "Palanquin Dark";
    font-weight: bold;
  
    /* Position the tooltip */
    position: absolute;
    right: -120px;
    top: 0px;
    z-index: 1;
  }
  
#myBtn:hover .myBtn-text {
    visibility: visible;
    animation: fadeIn ease 0.5s;
  }

#myGithub:hover .github-button {
    transition: 1.5s;
    transform: rotateX(360deg);
}

#myGithub {
    position: relative;
}

#myGithub .myGithub-text {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.8;
    font-family: "Palanquin Dark";
    font-weight: bold;
  
    /* Position the tooltip */
    position: absolute;
    right: -120px;
    top: 0px;
    z-index: 1;
}

#myGithub:hover .myGithub-text {
    visibility: visible;
    animation: fadeIn ease 0.5s;
}

#myLinkedin:hover .linkedin-button {
    transition: 1.5s;
    cursor: pointer;
    transform: rotateY(360deg);
}

#myLinkedin {
    position: relative;
}

#myLinkedin .myLinkedin-text {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.8;
    font-family: "Palanquin Dark";
    font-weight: bold;
  
    /* Position the tooltip */
    position: absolute;
    right: -120px;
    top: 0px;
    z-index: 1;
}

#myLinkedin:hover .myLinkedin-text {
    visibility: visible;
    animation: fadeIn ease 0.5s;
}

.fa-angellist:hover {
    transition: 1.5s;
    transform: scale(1.3);
}

#myangel {
    position: relative;
}

#myangel .myAngel-text {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.8;
    font-family: "Palanquin Dark";
    font-weight: bold;
  
    /* Position the tooltip */
    position: absolute;
    right: -120px;
    top: 0px;
    z-index: 1;
    scale: 1;
}

#myangel:hover .myAngel-text {
    visibility: visible;
    animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

li:active {
    color: black;
}

li a:active {
    color: black;
}

li:visited {
    color: black;
}

li a:visited {
    color: black;
}

#background-container > span:hover {
    transition: 0.5s;
    transform: scale(1.2);
}